<!DOCTYPE html>
<html lang="ko">
    <%- include('./header'); %>

    <body>
        <%- include('./menu'); %>
        <a class="text" id="userName">hello</a>
        <script>
            $(function () {
                $.ajax({
                    url: "/routes/users/<%= uid %>",
                    type: "GET",
                }).done((response) => {
                    $("#userName").text(response.userName)
                })
            })
        </script>
    </body>
</html>
