<!DOCTYPE html>
<html lang="ko">
    <%- include('./header'); %>

    <body>
        <%- include('./menu'); %>
        <a class="btn" href="/routes/auth/google">
            <img
                alt="Qries"
                src="https://www.qries.com/images/banner_logo.png"
                width="70"
                height="70"
            />
        </a>
    </body>
</html>
