<nav class="navbar navbar-expand-lg navbar-dark white">
    <!-- Navbar brand -->
    <div class="mr-auto" style="width: 37.08px;"></div>
    <a
        class="tab-title text-dark"
        style="
            margin: auto;
            margin-top: 8px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
            text-align: center;
        "
    >
        HANSUM
    </a>
    <div
        id="writeBtn"
        class="btn btn-link btn-md p-1 ml-auto"
        style="color: #d58b71;"
        onclick="location.href='/routes/posts/write'"
    >
        글쓰기
    </div>
</nav>
