<nav class="navbar navbar-expand-lg navbar-dark white">
    <!-- Navbar brand -->
    <a
        class="fas fa-chevron-left fa-lg mr-auto text-black-50"
        href="/routes/auth"
        style="width: 37px;"
    ></a>
    <a
        class="tab-title text-dark"
        style="
            margin: auto;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 500;
        "
        href="/"
    >
        HANSUM
    </a>
    <div class="btn btn-link btn-md p-1 ml-auto" style="color: #d58b71;">
        글쓰기
    </div>
</nav>
