<nav class="navbar navbar-expand-lg navbar-dark white">
    <!-- Navbar brand -->
    <a
        class="navbar-brand text-dark"
        style="margin: auto; font-family: 'Noto Sans KR', sans-serif;"
        href="/"
    >
        HANSUM
    </a>
</nav>
