<!DOCTYPE html>
<html lang="en">
    <%- include('../header'); %>
        <style>
            .navbar {
                padding: 11px 20px 11px 20px;
                height: 60px;
                background-color: white;
                box-shadow: none;
            }
            a {
                color: black;
            }
            h6 {
                color: black;
                font-family: "Noto Sans KR", sans-serif;
                font-size: 16px;
                font-weight: 500;
                margin: 0;
                }
            .complete {
                font-family: "Noto Sans KR", sans-serif;
                font-size: 13.5px;
                margin: 0;
                color: #d58b71;
            }
            a:hover {
                color: #752771;
            }
            .container {
                padding: 0px 20px 0px 20px;
            }
            h1 {
                margin-top: 30px;
                font-size: 26px;
                font-family: "Noto Sans KR", sans-serif;
                font-weight: 500;
                line-height: 40px;
            }
            span {
                font-weight: 600;
                color: #d58b71;
            }
            img {
                border-radius: 70%;
                display: block;
                margin: auto;
                margin-top: 57px;
                margin-bottom: 65px;
                box-shadow: 0px 0px 10px #d58b71;
            }
            .md-form {
                margin: 0px 10px 0px 10px;
                color: #d58b71;
                border-bottom-color: #d58b71;
            }
            .md-form > label {
                font-family: "Noto Sans KR", sans-serif;
                font-size: 13.5px;
                font-weight: 300;
                color: #777777;
            }
            .md-form input[type="text"] {
                border-bottom-color: #d58b71;
            }
            .md-form input[type="text"]:focus {
                box-shadow: 0 1px 0 0 #d58b71 !important;
                color: black;
                border-bottom: 1px solid #d58b71 !important;
            }
            .md-form
                input[type="text"]:not(.browser-default):focus:not([readonly])
                + label {
                color: #752771;
            }
            .fas {
                padding-right: 6.17px;
            }
        </style>
    </head>
    <body>
        <!-- JQuery -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        ></script>
        <!-- Bootstrap tooltips -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
        ></script>
        <!-- Bootstrap core JavaScript -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
        ></script>
        <!-- MDB core JavaScript -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"
        ></script>

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="fas fa-chevron-left fa-lg mr-auto" href="/#setting"></a>
            <h6>프로필 수정</h6>
            <a class="complete my-2 my-lg-0 ml-auto" href="#">완료</a>
        </nav>
        
        <div class="container">
            <h1 class="animated slideInLeft">
            </h1>
            <img
                id="imageUrl"
                src="https://lh3.googleusercontent.com/proxy/-vsdZkJoq0c6xwOX-fRg_L1ypE1ZIu93yxuOs8zdnZmJ6STLSTS6g1bXFaZLDegiIV2GENT7JdTp7w1RIa6TKxIynbxfdVPs67GQq949idiFVvfY2v1Epqj0AfFobyV2vJNcs_axqrYAlSQPyMzLZDugM-lFSw"
                class="animated zoomIn"
                width="125px"
                height="125px"
            />
            <form id="registerForm">
                <div class="md-form input-with-post-icon animated fadeInUp">
                    <input type="text" id="userName" class="form-control" />
                    <label for="userName">이름을 입력하세요.</label>
                </div>
            </form>
        </div>
        <script>
            $(function () {
                $.ajax({
                    url:"/routes/users/<%= uid %>",
                    type:"GET"
                }).done((response)=>{
                    $("#imageUrl").attr("src", response.imageUrl);
                    $("#userName").attr("value", response.userName);
                })
                $(".complete").click((event) => {
                    event.preventDefault()
                    const userName = $("#userName").val()
                    const uid = "<%= uid %>"
                    const imageUrl = $("#imageUrl").attr("src")
                    $.ajax({
                        url:"/routes/users/<%= uid %>",
                        type:"PATCH",
                        data: {userName, imageUrl},
                    }).done(()=> {
                        alert("변경했습니다")
                        location.href="/#setting"
                    }).fail((request, status, error) => {
                        alert("다시 시도해주세요")
                    })
                })
            })
        </script>
    </body>
</html>
